.DS_Store
fbaconfig.dat
*.zip

src/.clang/
src/.codelite/
blend/
eeprom/
hiscore/

projects/asp/bin/
projects/asp/obj/
projects/lubuntu/bin/
projects/lubuntu/obj/
projects/mvsx/bin/
projects/mvsx/obj/
projects/windows/bin/
projects/windows/obj/
projects/windows/.vs/
projects/windows/*.user

