.DS_Store
fbaconfig.dat
*.zip

src/.clang/
src/.codelite/
blend/
eeprom/
hiscore/

projects/lubuntu/.codelite/
projects/lubuntu/bin/
projects/lubuntu/FBAlpha-Shock.mk
projects/lubuntu/obj/
projects/mvsx_asp/.codelite/
projects/mvsx_asp/bin/
projects/mvsx_asp/FBAlpha-Shock.mk
projects/mvsx_asp/obj/
projects/windows/.vs/
projects/windows/*.user
projects/windows/bin/
projects/windows/obj/
extras/bmpconvert/bmpconvert-win/x64/
 extras/bmpconvert/bmpconvert-win/.vs/